.cont {
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: bold;
}

#freeze {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }  

#freeze:hover {
    background-color: #f44336;
    color: white;
}

#demo {
    font-weight: 700;
}